<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="illuminomete.com.example.android.mydemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".drawer.ResideActivity"
            >
        </activity>

        <activit
            android:name=".drawer.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activit>

        <activity android:name=".chart.fund.BaseActivity" />
        <activity android:name=".chart.fund.FundActivity" />
        <activity android:name=".chart.fund.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chart.fund.timesharing.TimeSharingActivity" />
    </application>

</manifest>